

.singup {

height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
 form {
    background-color: rgba(248, 245, 253, 0.082);
    justify-content: center;
    flex-direction: column;
    color: azure;
    width:98%;
    height: 80%;
    box-shadow: 2px 1px 1px 1px rgb(213, 213, 218);
}

    input {
        background-color: rgb(226, 227, 240);
        border: none;
        border: 2px solid rgb(92, 92, 226);
        box-shadow: 1px 2px 1px 2px whitesmoke;
        border-radius: 20px;
        color:rgb(10, 10, 10);
        width: 100%;
        height: 10%;
        outline: none;
        flex-grow: 1;
        padding: 20px 10px;
        transition: 0.3s;
}
   




input:hover {
    background-color: rgb(59, 55, 55);
    color:rgb(235, 235, 241);
}

.but2 {
    
    display: flex;
    border-radius: 20px;
    font-size: 17px;
    transition: 0.5s ease;
    text-align: center;
    margin-left: 205px;
    width: 90px;
    height: 30px;
    background-color:rgb(20, 17, 230);
    color: whitesmoke;
    cursor: pointer;
    margin: 10px;
}

.but2:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.2s ease;
    background-color:rgb(226, 226, 241);
    color:rgb(16, 16, 201);

}

h4 {
    color: red;
}

.singin{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
    font-weight: bold;
    margin-right: 300px;
    margin-top: 200px;
    width: 40%;
    height: 20%;
    color: rgb(12, 12, 134);

}



